.PokeListItem {
  display: block;
  align-items: center;
  justify-content: center; /* 수평 중앙 정렬 */
  flex: 0 0 25%;
  text-align: center;
  margin: 20px 0;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}

.PokeListItem .PokeListItemImg {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  transition: transform 0.3s ease;
}
.PokeListItem .PokeListItemImg:hover {
  transform: translateY(-10px);
}

.PokeListItem .PokeListItemImg.unactive {
  filter: grayscale(100%);
}

.PokeListItem .PokeListItemImg.unactive:hover {
  transform: none;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}
